html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

.title {
  text-align: center;
}

section {
  display: flex;
  justify-content: center;
}

.flex-layout {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.box-container {
  border: 1px solid;
  padding: 20px;
  border-radius: 80px;
}

.light-box {
  width: 50px;
  height: 50px;
  border: 1px solid lightgrey;
  border-radius: 50%;
}

.red-active {
  background-color: red;
}

.yellow-active {
  background-color: yellow;
}

.green-active {
  background-color: green;
}

.reset {
  cursor: pointer;
}

.sign {
  font-size: 35px;
}
